acl worldnet src all

# Создаём ещё одно правила с именами SSL_ports и SSL_ports и перечисляем в нём порты
acl SSL_ports port 443
acl Safe_ports port 80 # http
acl Safe_ports port 21 # ftp
acl Safe_ports port 443 # https
acl CONNECT method CONNECT

via off
forwarded_for delete

auth_param basic program /usr/lib/squid/basic_ncsa_auth /etc/squid/passwd
auth_param basic children 5
auth_param basic credentialsttl 2 hours
auth_param basic casesensitive on
auth_param basic realm Enter your creds
acl auth_users proxy_auth REQUIRED
http_access allow auth_users

#
# Рекомендуемая минимальная конфигурация разрешения доступа:
#
# Теперь мы запрещаем доступ ко всем портам, кроме добавленных в правило Safe_ports
http_access deny !Safe_ports

# Запрещаем CONNECT для всех портов, кроме перечисленных в правиле SSL_ports
http_access deny CONNECT !SSL_ports

# Разрешаем доступ к cachemgr только от localhost
http_access allow localhost manager
http_access deny manager

# нужно разобраться как это работает
tcp_outgoing_address 2600:3c03::f03c:92ff:fe58:69ef all

# Открыл доступ всем
http_access allow all

# Squid по умолчанию прослушивает порт 3128
# Поменял дефолтный на время, пока авторизацию не сделаю
http_port {{ proxy_port }}

# Раскомментируйте и настройте следующее, чтобы добавить каталог дискового кэша.
cache_dir ufs /var/cache/squid 100 16 256

# Оставьте coredumps в первом каталоге кеша
coredump_dir /var/cache/squid

refresh_pattern ^ftp: 1440 20% 10080
refresh_pattern ^gopher: 1440 0% 1440
refresh_pattern -i (/cgi-bin/|\?) 0 0% 0
refresh_pattern . 0 20% 4320